@charset "utf-8";

@use "./foundation/_mixin";
@use "./layout/_header";
html {
  font-size: 62.5%;
}
img {
  width: 100%;
}
body {
  font-size: 1.6rem;
  @include mixin.mq(sm) {
    font-size: 1.4rem;
  }
}

/*=====================================================
# common
===================================================== */
.btn {
  background: #8e8eae;
  display: block;
  a {
    color: #fff;
  }
}
.btn-large {
  padding: 25px;
  max-width: 420px;
  width: 100%;
  text-align: center;
}
.btn-small {
  padding: 17px 30px;
}
.contents {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.section-title {
  font-size: 3.4rem;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 30px;
}
.center {
  text-align: center;
}
/*=====================================================
# top
===================================================== */
.top {
  background: url(/img/shadow-blue.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  @include mixin.mq(sm) {
    height: 270px;
    margin-top: 60px;
  }
  &__content {
    @include mixin.mq(pc) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 180px;
      z-index: 10;
    }
  }
  &__main-title {
    font-size: 5rem;
    margin-bottom: 40px;
  }
  &__sub-title {
    font-size: 2.4rem;
    margin-bottom: 46px;
  }
  &__left {
    background: url(/img/onne-beauty-piBorUFXHhU-unsplash\ 1.png) no-repeat
      center center/cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 925px;
  }
}

.concept-goods {
  padding: 120px 0;
}
/*=====================================================
# concept
===================================================== */
.concept {
  &__contents {
    align-items: center;
    @include mixin.mq(pc) {
      display: flex;
    }
  }

  &__img {
    flex: 0 0 590px;
  }

  &__content {
    padding: 80px 50px;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.07);
    @include mixin.mq(pc) {
      transform: translateX(-50px);
    }
    @include mixin.mq(sm) {
      padding: 25px;
      transform: translateY(-10%);
      margin: 0 10px;
    }
  }

  &__message {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

/*=====================================================
# goods
===================================================== */
.goods {
  margin-top: 120px;
}
.card {
  @include mixin.mq(pc) {
    display: flex;
  }
  &__item {
    @include mixin.mq(pc) {
      width: calc(33.3% - 60px * 2 / 3);
    }
    & + & {
      @include mixin.mq(pc) {
        margin-left: 60px;
      }
    }
  }
  &__img {
    margin-bottom: 20px;
  }
  &__title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  &__description {
    display: flex;
    margin-bottom: 40px;
  }
}

/*=====================================================
# flow
===================================================== */
.flow {
  background: #eaf0f9;
  padding: 60px 180px;
  @include mixin.mq(sm) {
    padding: 50px 20px;
  }
}

.flow-content {
  background: #fff;
  padding: 60px 70px;
  @include mixin.mq(sm) {
    padding: 50px 38px;
  }
  .btn-large {
    margin: 60px auto 0;
  }
}

.flow-item {
  position: relative;
  @include mixin.mq(pc) {
    width: calc(33.3% - 80px * 2 / 3);
  }
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      @include mixin.mq(pc) {
        background: url(/img/Polygon\ 1.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 50px;
        top: 120px;
        right: -74px;
      }
      @include mixin.mq(sm) {
        background: url(/img/Polygon-bottom.png) no-repeat center center/cover;
        width: 50px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    @include mixin.mq(sm) {
      margin-bottom: 90px;
    }
  }
  & + & {
    @include mixin.mq(pc) {
      margin-left: 80px;
    }
  }
  &__img {
    width: 150px;
    background: #c0c0c0;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 17px;
  }
}

.number {
  font-size: 70px;
  color: #8e8eae;
}

/*=====================================================
# news
===================================================== */
.news-content {
  max-width: 940px;
}
.news {
  padding: 120px;
  @include mixin.mq(sm) {
    padding: 100px 20px;
  }
  .btn-small {
    max-width: 420px;
    text-align: center;
    margin: 60px auto 0;
  }
  &__list {
  }
  &__item {
    a {
      display: flex;
      color: #333333;
      padding: 40px 0;
      border-bottom: 1px solid #e3e3e3;
    }
  }
  &__date {
    margin-right: 60px;
    @include mixin.mq(sm) {
      margin-right: 16px;
    }
  }
}
